
{% load static %}
<!doctype html>
<html lang="es" style="background: black;">

    <head>
        
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock title %} | Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        {% block extra_css %}
        {% endblock extra_css %}
        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

{% block content %}
    
{% endblock content %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/dist/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/dist/waves.min.js' %}"></script>
{% block extra_javascript %}
{% endblock extra_javascript %}
        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>

</body>
</html>
    