{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Signed out{% endblock title %}
{% block content %}
    <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Cerrar Sesión</h5>
                                            
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div class="auth-logo">
                                    <a href="{% url 'account_login' %}" class="auth-logo-light">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'images/logo-light.svg' %}" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>

                                    <a href="{% url 'account_login' %}" class="auth-logo-dark">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'images/logo.svg' %}" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                    {% if messages %}
                                        {% for message in messages %}
                                        <div class="mb-4" role="alert">
                                            <h4 class="font-size-18 mt-2 text-center text-success">{{ message }}</h4>
                                        </div>
                                        {% endfor %} 
                                    {% else %}
                                        <div class="mb-4" role="alert">
                                            <h4 class="font-size-18 mt-2 text-center text-success">Te has dado de baja.</h4>
                                        </div>
                                    {% endif %}
                                        
                                    <div class="p-3">
                                        <p class="text-muted text-center mb-4">Gracias por pasar un rato con el sitio web hoy.</p>

                                        <div class="mt-3 d-grid">
                                        <a href="{% url 'account_login' %}" class="btn btn-primary waves-effect waves-light"> Iniciar sesión de nuevo  </a>
                                        </div>        
                                    </div>
            
                                        <!-- <div class="mt-4 text-center">
                                            <h5 class="font-size-14 mb-3">Sign in with</h5>
            
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="{% provider_login_url 'facebook' %}" class="social-list-item bg-primary text-white border-primary">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                
                                                <li class="list-inline-item">
                                                    <a href="{% provider_login_url 'google' %}" class="social-list-item bg-danger text-white border-danger">
                                                        <i class="mdi mdi-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            
                            <div>
                                <p>© <script>document.write(new Date().getFullYear())</script><i class="mdi mdi-heart text-danger"></i> Duvan Muñoz</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end account-pages -->
        {% endblock content %}