{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Restablecer Contraseña</h5>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="auth-logo">
                                <a href="{% url 'dashboard' %}" class="auth-logo-light">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="{% static 'images/logo-light.svg' %}" alt=""
                                                class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                                <a href="{% url 'dashboard' %}" class="auth-logo-dark">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="{% static 'images/logo.svg' %}" alt="" class="rounded-circle"
                                                height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-1">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <div class="mt-3 d-grid">
                                            <button class="btn btn-primary waves-effect waves-light" id="sa-success" type="submit">Restablecer Contraseña</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p>© <script>document.write(new Date().getFullYear())</script><i class="mdi mdi-heart text-danger"></i> Duvan Muñoz </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endblock content %}