{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Reset Password{% endblock title %}
{% block content %}

    <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary"> Restablecer Contraseña</h5>
                                            <!-- <p>Reset Password with Skote.</p> -->
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="{% url 'dashboard' %}">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'images/logo.svg' %}" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="p-2">
                                    <div class="alert alert-success text-center mb-4" role="alert">
                                        Introduce tu dirección de correo electrónico y te enviaremos un mensaje para que puedas restablecerla.                                    </div>
                                    <form class="form-horizontal" method="post">
                                     {% csrf_token %}
                                        {% for message in messages %}
                                                <div class="alert alert-danger mb-4" role="alert">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                        {% endfor %} 
                                        <div class="mb-3">
                                            {{ form.email|as_crispy_field }}
                                        </div>
                    
                                        <div class="d-grid">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Restablecer Contraseña</button>
                                        </div>
    
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p>¿Lo recuerdas? <a href="{% url 'account_login' %}" class="fw-medium text-primary">Iniciar Sesion</a> </p>
                            <p>© <script>document.write(new Date().getFullYear())</script><i class="mdi mdi-heart text-danger"></i> Duvan Muñoz </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
