{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Email Verification{% endblock title %}
{% block content %}
    <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mb-5 text-muted">
                            <a href="{% url 'dashboard' %}" class="d-block auth-logo">
                                <img src="{% static 'images/logo-dark.png' %}" alt="" height="20" class="auth-logo-dark mx-auto">
                                <img src="{% static 'images/logo-light.png' %}" alt="" height="20" class="auth-logo-light mx-auto">
                            </a>
                            <p class="mt-3">Admin Dashboard</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            
                            <div class="card-body"> 
                                
                                <div class="p-2">
                                    <div class="text-center">

                                        <div class="avatar-md mx-auto">
                                            <div class="avatar-title rounded-circle bg-light">
                                                <i class="bx bxs-envelope h1 mb-0 text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="p-2 mt-4">
                                            {% for message in messages %}
                                                <div class="alert {{ message.tags }} mb-4" role="alert">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                            {% endfor %}
                                            <h4>Verifique su dirección de correo electrónico</h4>
                                            <p class="text-muted">Le hemos enviado un correo electrónico para su verificación. Siga el enlace proporcionado para finalizar el proceso de registro. Póngase en contacto con nosotros si no lo recibe en unos minutos.</p>
                                            
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            
                            <p>© <script>document.write(new Date().getFullYear())</script><i class="mdi mdi-heart text-danger"></i> Duvan Muñoz </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}