{% load static %} {% block sidebar %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu" style="background: black;">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-layout"></i>
                <span>Capacitaciones</span>
              </a>
              <ul class="sub-menu" aria-expanded="true">
                <li>
                  <a href="javascript: void(0);" class="has-arrow">Internas</a>
                  <ul class="sub-menu" aria-expanded="true">
                  <li>
                    <a href="{% url 'creacion-capacitaciones'%}">Creación</a>
                  </li>
                  <li>
                    <a href="{% url 'capacitaciones-internas-personal'%}">Empleado</a>
                  </li>
                  <li>
                    <a href="{% url 'admincapacitacioninterna'%}">Personal</a>
                  </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript: void(0);" class="has-arrow">Externas</a>
                  <ul class="sub-menu" aria-expanded="true">
                  <li>
                    <a href="{% url 'capacitaciones-externas-personal'%}">Empleado</a>
                  </li>
                  <li>
                    <a href="{% url 'admincapacitacionexterna'%}">Personal</a>
                  </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-layout"></i>
                  <span>Indicadores</span>
                </a>
                <ul class="sub-menu" aria-expanded="true">
                  <li>
                      <a href="{% url 'evaluaciones_admin'%}">Equipo De Trabajo</a>
                  </li>
                  <li>
                      <a href="{% url 'admin_evaluaciones'%}">Personal</a>
                  </li>
                  <li>
                    <a href="javascript: void(0);" class="has-arrow">General</a>
                    <ul class="sub-menu" aria-expanded="true">
                      <li>
                        <a href="{% url 'evaluaciones_admin_general'%}">Evaluaciones</a>
                      </li>
                      <li>
                        <a href="{% url 'evaluaciones_admin_anual'%}">Promedio Anual</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </li>
          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->
{% endblock %}
