<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body style="margin:5%;">
        <h3>{{ evaluacion.empleado }}</h3>
        <h3>Resultado Final: {{promedio_total|floatformat:2}}%</h3>
        <hr>
        {% if evaluacion.respuestas_objetivo.all %}
            <h3>OBJETIVOS</h3>
            <div style="display: flex; align-items: end; width: 100%; flex-direction: column;">
                <h4>Autoevaluación total: {{ evaluacion.get_porcentaje_respuestas_objetivo_evaluado|floatformat:1 }}%</h4>
                <h4>Evaluación total: {{ evaluacion.get_porcentaje_respuestas_objetivo_evaluador|floatformat:1 }}% </h4>
            </div>
            <hr>            
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="" style="display: flex; border-radius: 12px;border:1px solid #0000 ;padding: 10px;">        
                            <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                                <thead>
                                    <tr class="table-warning" style="background-color: gray;">
                                        <th style="border-radius:12px 0 0 0; border-style: none ;">Objetivo</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">% Evaluado</th>
                                        <th scope="col">Descripción Evaluado</th>
                                        <th scope="col">% Evaluador</th>
                                        <th style="border-radius:0 12px 0 0; border-style: none ;">Plan De Mejora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for respuesta in evaluacion.respuestas_objetivo.all %}
                                    <tr>
                                        <td>{{ respuesta.objetivo.nombre }}</td>
                                        <td>{{ respuesta.objetivo.descripcion }}</td>
                                        <td>{{ respuesta.resultado_evaluado|default:"0" }}%</td>
                                        <td>{{ respuesta.observaciones_evaluado|default:"N/A" }}</td>
                                        <td>{{ respuesta.resultado_evaluador|default:"0" }}%</td>
                                        <td>{{ respuesta.observaciones_evaluador|default:"N/A" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> 
            </div> 
            <hr>
            <h3>COMPETENCIAS</h3>
            <div style="display: flex; align-items: end; width: 100%; flex-direction: column;">
                <h4>Autoevaluación total: {{ evaluacion.get_porcentaje_competencias_evaluado|floatformat:1 }} %</h4>
                <h4>Evaluación total: {{ evaluacion.get_porcentaje_competencias_evaluador|floatformat:1 }} %</h4>
            </div>
            <hr>
            <h5>Evaluado</h5>
            <ul>
                {% for competencia, promedio in promedio_por_competencia_evaluado %}
                <li>
                    {{ competencia }}: {{ promedio|floatformat:1 }}
                </li>
                {% endfor %}
            </ul>
            <h5>Evaluador</h5>
            <ul>
                {% for competencia, promedio in promedio_por_competencia_evaluador %}
                <li>
                    {{ competencia }}: {{ promedio|floatformat:1 }}
                </li>
                {% endfor %}
            </ul>
            {% for competencia in competencias %}
            <hr>
            <h4>{{ competencia.nombre }}</h4>
            <br>
            <p><strong>Definición General: </strong>{{ competencia.definicion }}<p>      
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">        
                            <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                                <thead>
                                    <tr class="table-warning">
                                        <th scope="col">DEFINICIÓN</th>
                                        <th scope="col">% Evaluado</th>
                                        <th scope="col">Descripción Evaluado</th>
                                        <th scope="col">% Evaluador</th>
                                        <th scope="col">Plan De Mejora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for subcompetencia in subcompetencias %}
                                    {% if subcompetencia.competencia == competencia %}
                                        {% for respuesta in evaluacion.respuestas_competencia.all %}
                                            {% if respuesta.pregunta == subcompetencia %}
                                            <tr>
                                                <td>{{ subcompetencia.nombre }}</td>
                                                <td>{{ respuesta.porcentaje_evaluado|default:"0"}}%</td>
                                                <td>{{ respuesta.descripcion_evaluado|default:"N/A"}}</td>
                                                <td>{{ respuesta.porcentaje_evaluador|default:"0"}}%</td>
                                                <td>{{ respuesta.descripcion_evaluador|default:"N/A"}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <hr>
        {% else %}
            <h3>COMPETENCIAS</h3>
            <div style="display: flex; align-items: end; width: 100%; flex-direction: column;">
                <h4>Autoevaluación total: {{ evaluacion.get_porcentaje_competencias_evaluado|floatformat:1 }} %</h4>
                <h4>Evaluación total: {{ evaluacion.get_porcentaje_competencias_evaluador|floatformat:1 }} %</h4>
            </div>
            <hr>
            <h5>Evaluado</h5>
            <ul>
                {% for competencia, promedio in promedio_por_competencia_evaluado %}
                <li>
                    {{ competencia }}: {{ promedio|floatformat:1 }}
                </li>
                {% endfor %}
            </ul>
            <h5>Evaluador</h5>
            <ul>
                {% for competencia, promedio in promedio_por_competencia_evaluador %}
                <li>
                    {{ competencia }}: {{ promedio|floatformat:1 }}
                </li>
                {% endfor %}
            </ul>
            {% for competencia in competencias %}
            <hr>
            <h4>{{ competencia.nombre }}</h4>
            <br>
            <p><strong>Definición General: </strong>{{ competencia.definicion }}<p>      
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">        
                            <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                                <thead>
                                    <tr class="table-warning">
                                        <th scope="col">DEFINICIÓN</th>
                                        <th scope="col">% Evaluado</th>
                                        <th scope="col">Descripción Evaluado</th>
                                        <th scope="col">% Evaluador</th>
                                        <th scope="col">Plan De Mejora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for subcompetencia in subcompetencias %}
                                    {% if subcompetencia.competencia == competencia %}
                                        {% for respuesta in evaluacion.respuestas_competencia.all %}
                                            {% if respuesta.pregunta == subcompetencia %}
                                            <tr>
                                                <td>{{ subcompetencia.nombre }}</td>
                                                <td>{{ respuesta.porcentaje_evaluado|default:"0"}}%</td>
                                                <td>{{ respuesta.descripcion_evaluado|default:"N/A"}}</td>
                                                <td>{{ respuesta.porcentaje_evaluador|default:"0"}}%</td>
                                                <td>{{ respuesta.descripcion_evaluador|default:"N/A"}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <a class="btn btn-dark" href="{% url 'evaluaciones_empleado' %}" style=" background-color: rgb(88, 77, 190); width: 100%; border:none">Volver</a>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>