{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Lock Screen{% endblock title %}
{% block content %}

    <body>
        
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Desbloquear Pantalla</h5>
                                            <p>¡Ingrese su contraseña para desbloquear la pantalla!</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="/">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'images/logo.svg' %}" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <form action="{% url 'authlogin' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="user-thumb text-center mb-4">
                                            <!-- <img src="{% static 'images/users/avatar-1.jpg' %}" class="rounded-circle img-thumbnail avatar-md" alt="thumbnail"> -->
                                            <h5 class="font-size-15 mt-3">{{user.first_name}} {{user.last_name}}</h5>
                                        </div>
            
                                        <div class="mb-3">
                                            <input type="text" hidden class="form-control" id="login" name="login" value="{{user.username}}">
                                            <label for="userpassword">Contraseña</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Introducir Contraseña">
                                        </div>
            
                                        <div class="text-end">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Desbloquear</button>
                                        </div>
    
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <script>document.write(new Date().getFullYear())</script> © Duvan Muñoz.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}