{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Login{% endblock title %}
{% block content %}
<!-- #adb5bd -->
<body>
    <div class="account-pages my-5 pt-sm-5" style="background: black;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="" style="background: white;">
                            <div class="row">
                                <div class="col-8">
                                    <div class="text-black p-4">
                                        <h2 class="text-black">Bienvenido !</h2>
                                        <h3>Inicia Sesion para continuar.</h3>
                                    </div>
                                </div>
                                <div class="col-4 align-self-end p-5">
                                    <img src="{% static 'images/logo-inacar.png' %}" height="" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0"> 
                            <!-- <div class="auth-logo">
                                <a href="{% url 'authlogin' %}" class="auth-logo-light">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title  bg-light">
                                            <img src="{% static 'images/logo-inacar.png' %}" alt="" class="" height="70">
                                        </span>
                                    </div>
                                </a>

                                <a href="{% url 'authlogin' %}" class="auth-logo-dark">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title  bg-light">
                                            <img src="{% static 'images/logo-inacar.png' %}" alt="" class="" height="70">
                                        </span>
                                    </div>
                                </a>
                            </div> -->
                            <div class="p-2">
                                <form class="form-horizontal" action="{% url 'authlogin' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="login" class="form-label">Usuario</label>
                                        <input type="text" class="form-control" id="login" name="login" placeholder="Introducir Usuario">
                                    </div>
            
                                    <div class="mb-3">
                                        <label class="form-label">Contraseña</label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Introducir Contraseña" aria-label="Password" aria-describedby="password-addon">
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="remember-check">
                                        <label class="form-check-label" for="remember-check">
                                            Recordarme
                                        </label>
                                    </div>
                                    
                                    <div class="mt-3 d-grid">
                                        <button class="btn waves-effect waves-light" style="background: #ef3f0de6; color:black" type="submit"><b>Iniciar Sesion</b></button>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <a href="{% url 'account_reset_password' %}" class="text-muted"><i class="mdi mdi-lock me-1"></i> ¿Ha olvidado su contraseña?</a>
                                    </div>
                                </form>
                            </div>
        
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        
                        <div>
                            <p><b>¿No tienes cuenta?</b><a href="{% url 'account_signup' %}" class="fw-medium text-white"> Regístrate ahora </a> </p>
                            <p><b>©<script>document.write(new Date().getFullYear())</script><i class="mdi mdi-heart text-danger"></i>Duvan Muñoz</b></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}