{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Register{% endblock title %}
{% block content %}
<body>
        
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Registro gratuito</h5>
                                        <p>Consigue ahora tu cuenta.</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0"> 
                            <div>
                                <a href="{% url 'authregister' %}">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="{% static 'images/logo.svg' %}" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <form class="needs-validation" novalidate action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="mb-2">
                                        <label for="useremail" class="form-label">Correo electrónico*</label>
                                        <input type="email" class="form-control" id="useremail" placeholder="Ingresar Correo electrónico" required>  
                                        <div class="invalid-feedback">
                                            Email
                                        </div>      
                                    </div>
                                    
                                    <div class="mb-2">
                                        <label for="username" class="form-label">Usuario*</label>
                                        <input type="text" class="form-control" id="username" placeholder="Ingresar Usuario" required>
                                        <div class="invalid-feedback">
                                            Username
                                        </div>  
                                    </div>

                                    <div class="mb-2">
                                        <label for="first_name" class="form-label">Nombres*</label>
                                        <input type="text" class="form-control" id="first_name" placeholder="Ingresar Nombres" required>
                                        <div class="invalid-feedback">
                                            first_name
                                        </div>  
                                    </div>

                                    <div class="mb-2">
                                        <label for="last_name" class="form-label">Apellidos*</label>
                                        <input type="text" class="form-control" id="last_name" placeholder="Ingresar Apellidos" required>
                                        <div class="invalid-feedback">
                                            last_name
                                        </div>  
                                    </div>

                                    <div class="mb-2">
                                        <label for="userpassword" class="form-label">Contraseña*</label>
                                        <input type="password" class="form-control" id="userpassword" placeholder="Enter password" required>
                                        <div class="invalid-feedback">
                                            New Password
                                        </div>       
                                    </div>
                                    <div class="mb-2">
                                        <label for="userpassword" class="form-label">Confirmar Contraseña*</label>
                                        <input type="password" class="form-control" id="userpassword" placeholder="Enter confirm password" required>
                                        <div class="invalid-feedback">
                                            New Password Again
                                        </div>       
                                    </div>
                
                                    <div class="mt-4 d-grid">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">Registrarse</button>
                                    </div>

                                    <!-- <div class="mt-4 text-center">
                                        <h5 class="font-size-14 mb-3">Sign up using</h5>
        
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                                                    <i class="mdi mdi-facebook"></i>
                                                </a>
                                            </li>
                                            
                                            <li class="list-inline-item">
                                                <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                                                    <i class="mdi mdi-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div> -->
            
                                    <!-- <div class="mt-4 text-center">
                                        <p class="mb-0">By registering you agree to the Skote <a href="#" class="text-primary">Terms of Use</a></p>
                                    </div> -->
                                </form>
                            </div>
        
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        
                        <div>
                            <p>¿ Ya tienes una cuenta ? <a href="{% url 'authlogin' %}" class="fw-medium text-primary"> Acceso</a> </p>
                            <p>© <script>document.write(new Date().getFullYear())</script><i class="mdi mdi-heart text-danger"></i> Duvan Muñoz </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}