{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Sweet Alert-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- dropzone css -->
    <link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
{% block contents %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        {% for message in messages %}
                                            {% if message.tags %} 
                                            <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
                                            <script>
                                                var m = "{{ message }}";
                                                Swal.fire("Perfecto !", m , "success")
                                            </script>
                                            {% endif %}
                                        {% endfor %}
                                        <h4 class="card-title mb-4">Crear Capacitación Externa de la Empresa</h4>
                                        <form method="post" id="formulario" autocomplete="off">
                                            {% csrf_token %}
                                            <div class="row mb-4">
                                                <label for="projectname" class="col-form-label col-lg-2">Nombre Institución</label>
                                                <div class="col-lg-10">
                                                    <input id="NombreInstitucion" name="NombreInstitucion" type="text" class="form-control" placeholder="Introducir Nombre Institución...">
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <label for="projectname" class="col-form-label col-lg-2">Nombre Capacitación</label>
                                                <div class="col-lg-10">
                                                    <input name="NombreCapacitacion" id="NombreCapacitacion" type="text" class="form-control" placeholder="Introducir Nombre Capacitación...">
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <label for="projectname" class="col-form-label col-lg-2">Nombre Capacitador</label>
                                                <div class="col-lg-10">
                                                    <input id="NombreCapacitador" name="NombreCapacitador" type="text" class="form-control" placeholder="Introducir Nombre Capacitador...">
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <label class="col-form-label col-lg-2">Fecha Capacitación</label>
                                                <div class="col-lg-10">
                                                    <div class="input-daterange input-group" id="project-date-inputgroup" data-provide="datepicker" data-date-format="yyyy/mm/dd"  data-date-container='#project-date-inputgroup' data-date-autoclose="true">
                                                        <input id="FechaCapacitacion" name="FechaCapacitacion" type="text" class="form-control" placeholder="Introducir Fecha Capacitación" name="start" />
                                                    </div>
                                                </div>
                                            </div>                   
                                            <input type="text" hidden id="NombreEmpleado" name="NombreEmpleado" value="{{NombreEmpleado}}"> 
                                            <input type="text" hidden id="NombreArea" name="NombreArea" value="{{cargo}}">
                                            <div class="row">
                                                <div class="col-lg-10" style="display: flex; align-items: end; width: 100%; flex-direction: column;">
                                                    <button type="submit" class="btn btn-primary">Guardar Capacitación</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">        
                                        <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                                <tr class="table-warning">
                                                    <th>Fecha Capacitación</th>
                                                    <th>Institución</th>
                                                    <th>Nombre Capacitación</th>
                                                    <th>Nombre Capacitador</th>
                                                    <th>Cargo</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for Capacitaciones in EmpleadoCapacitacionesExternas %}
                                                <tr>
                                                    <td>{{Capacitaciones.FechaCapacitacion}}</td>
                                                    <td>{{Capacitaciones.NombreInstitucion}}</td>
                                                    <td>{{Capacitaciones.NombreCapacitacion}}</td>
                                                    <td>{{Capacitaciones.NombreCapacitador}}</td>
                                                    <td>{{Capacitaciones.NombreArea}}</td>                                                
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#EditarEmpleadoCapacitacionExternoModal-{{forloop.counter}}" class="dropdown-item" data-bs-toggle="modal"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i>Editar</a></li>
                                                                <li><a href="#" class="dropdown-item"  id="{{Capacitaciones.Id_EmpleadocapacitacionExterna}}" onclick="sweetDelete(this.id,this)"><i class="mdi mdi-trash-can font-size-16 text-danger me-1"></i>Eliminar</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <!-- EditarCapacitacionModal -->
                        {% for Capacitacion in EmpleadoCapacitacionesExternas %}
                        <div class="modal fade" id="EditarEmpleadoCapacitacionExternoModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="editcustomerModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <form class="modal-content" action="UpdateAdminCapacitacionExterno/{{Capacitacion.Id_EmpleadocapacitacionExterna}}" method="POST" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">Actualizar Capacitación De {{Capacitacion.NombreCapacitacion}}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Capacitación</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.NombreCapacitacion}}" name="NombreCapacitacion" id="NombreCapacitacion" class="form-control" placeholder="Nombre Capacitacion..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Empleado</label>
                                            <div class="col-lg-9">
                                                <input type="text" readonly value="{{Capacitacion.NombreEmpleado}}" name="NombreEmpleado" id="NombreEmpleado" class="form-control" placeholder="Nombre Empleado..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Institución</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.NombreInstitucion}}" id="NombreInstitucion" name="NombreInstitucion" class="form-control" placeholder="Introducir Nombre Institución..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Capacitador</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.NombreCapacitador}}" id="NombreCapacitador" name="NombreCapacitador" class="form-control" placeholder="Introducir Nombre Capacitador..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-form-label col-lg-3">Fecha Capacitación</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.FechaCapacitacion}}" id="FechaCapacitacion" name="FechaCapacitacion" class="form-control" placeholder="Introducir Fecha Capacitación..." data-date-format="yyyy/mm/dd" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombres Áreas</label>
                                            <div class="col-lg-9">
                                                <textarea readonly id="NombreArea" name="NombreArea" class="form-control" placeholder="Introducir Nombre Área..." rows="3" required>{{Capacitacion.NombreArea}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end modal -->
{% endblock %}

{% block extra_javascript %}
    <!-- Sweet Alerts js -->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/pages/EliminarCapacitacionExterno.js' %}"></script>

    <!-- bootstrap datepicker -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- dropzone plugin -->
    <script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.js' %}"></script>    

{% endblock %}