{% extends 'partials/base.html' %}
{% load static %}


{% block extra_css %}
    <!-- Sweet Alert-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- dropzone css -->
    <link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function()
        {
            $('.checkvalues').click(function()
            {
                var txt=""
                $('.checkvalues:checked').each(function()
                {
                    txt+=$(this).val()+", ";
                })
                    txt = txt.substring(0,txt.length-2);
                    $('#NombresAreas').val(txt);
            });
        });
    </script>
{% endblock %}
{% block contents %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        {% for message in messages %}
                                            {% if message.tags %} 
                                            <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
                                            <script>
                                                var m = "{{ message }}";
                                                Swal.fire("Perfecto !", m , "success")
                                            </script>
                                            {% endif %}
                                        {% endfor %}
                                        <h4 class="card-title mb-4">Crear Capacitación Interna de la Empresa</h4>
                                        <form method="post" id="formulario" autocomplete="off">
                                            {% csrf_token %}
                                            <div class="row mb-4">
                                                <label for="projectname" class="col-form-label col-lg-2">Nombre Capacitación</label>
                                                <div class="col-lg-10">
                                                    <input id="NombreCapacitacion" name="NombreCapacitacion" type="text" class="form-control" placeholder="Introducir Nombre Capacitación..." required>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <label for="projectname" class="col-form-label col-lg-2">Nombre Capacitador</label>
                                                <div class="col-lg-10">
                                                    <input id="NombreCapacitador" name="NombreCapacitador" type="text" class="form-control" placeholder="Introducir Nombre Capacitador..." required>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <label for="projectname" class="col-form-label col-lg-2">Link Evaluación</label>
                                                <div class="col-lg-10">
                                                    <input id="LinkEvaluacion" name="LinkEvaluacion" type="text" class="form-control" placeholder="Introducir Link Evaluación..." required>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <label class="col-form-label col-lg-2">Fecha Capacitación</label>
                                                <div class="col-lg-10">
                                                    <div class="input-daterange input-group" id="project-date-inputgroup" data-provide="datepicker" data-date-format="yyyy/mm/dd"  data-date-container='#project-date-inputgroup' data-date-autoclose="true">
                                                        <input type="text" id="FechaCapacitacion" name="FechaCapacitacion" class="form-control" placeholder="Introducir Fecha Capacitación" name="start" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <h4 class="font-size-15 mb-3">Escoger Área o Áreas</h4>
                                                <b class="font-size-14"><i class="mdi mdi-arrow-right text-primary me-1"></i>PROMOTORA</b>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Gerente UEN Promotora">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Gerente UEN Promotora
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Director De Proyectos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Director De Proyectos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Director De Proyectos Lotes Del Grupo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Director De Proyectos Lotes Del Grupo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Director Comercial Zona">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Director Comercial Zona
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Director Comercial Zona</h4>
                                                <div class="col-xl-2 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Comercial">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Comercial
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Tramites Escrituración Zona">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Tramites Escrituración Zona
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Cartera">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Cartera
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Entregas">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Entregas
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Proyectos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Proyectos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Auxiliares</h4>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar Escricturación y Tramites">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar Escricturación y Tramites
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar Cartera">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar Cartera
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Asesores</h4>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Asesor Comercial Senior">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Asesor Comercial Senior
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Asesor Comercial Junior">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Asesor Comercial Junior
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Analistas</h4>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Analista Servicio Al Cliente">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Analista Servicio Al Cliente
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Analistas De Comunicaciones">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Analistas De Comunicaciones
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <b class="font-size-14"><i class="mdi mdi-arrow-right text-primary me-1"></i>CONSTRUCTORA</b>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Gerente UEN Constructora">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Gerente UEN Constructora
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Director Nacional Costos & Presupuestos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Director Nacional Costos & Presupuestos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Directora Comercial">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Directora Comercial
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Dirección Técnica Nacional">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Dirección Técnica Nacional
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Director De Obra">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Director De Obra
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Director Nacional Costos & Presupuestos</h4>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Presupuestos & Costos Por Zona">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Presupuestos & Costos Por Zona
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Compras Por Zona">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Compras Por Zona
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Contratos Por Zona">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Contratos Por Zona
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Profesional Costo & Presupuestos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Profesional Costo & Presupuestos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar Administrativo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar Administrativo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar De Compras">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar De Compras
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar De Contratos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar De Contratos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Dirección Técnica Nacional</h4>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Director Técnico Obras Internas Por Zona">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Director Técnico Obras Internas Por Zona
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Director Técnico Obras Del Grupo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Director Técnico Obras Del Grupo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Maquinarias & Equipos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Maquinarias & Equipos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-5 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Director Técnico Obras Con Terceros Por Zona">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Director Técnico Obras Con Terceros Por Zona
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Operarios De Maquinarias & Equipos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Operario De Maquinaria & Equipo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Postventas">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Postventas
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Personal De Obra</h4>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Topografo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Topografo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Residente De Obra">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Residente De Obra
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Residente Administrativo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Residente Administrativo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Residente Auxiliar">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Residente Auxiliar
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Almacenista De Obra">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Almacenista De Obra
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Supervisor De Obra">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Supervisor De Obra
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Maestro De Obra">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Maestro De Obra
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar De Obra">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar De Obra
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar Almacen De Obra">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar Almacen De Obra
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Inspector SST">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Inspector SST
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <b class="font-size-14"><i class="mdi mdi-arrow-right text-primary me-1"></i>INMOBILIARIO</b>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Gerente UEN Inmobiliario">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Gerente UEN Inmobiliario
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Negocios">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Negocios
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Administrativo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Administrativo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Analista Administrativo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Analista Administrativo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Auxiliares</h4>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar De Mantenimiento">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar De Mantenimiento
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar De Servicios Generales">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar De Servicios Generales
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Administrador De Edificios Externos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Administrador De Edificios Externos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <b class="font-size-14"><i class="mdi mdi-arrow-right text-primary me-1"></i>UNIDADES DE APOYO</b>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Presidente">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Presidente
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Vicepresidente">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Vicepresidente
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Sistemas Integrados De Gestión</h4>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Nacional SIG">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Nacional SIG
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Coordinador SIG">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Coordinador SIG
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Analista SIG">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Analista SIG
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>UAF</h4>
                                                <div class="col-xl-5 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Dirección Nacional Financiera & Administrativa">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Dirección Nacional Financiera & Administrativa
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Revisor Fiscal">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Revisor Fiscal
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Seguimiento & Control">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Seguimiento & Control
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Contabilidad">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Contabilidad
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Asistente Financiero">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Asistente Financiero
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar Contable">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar Contable
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar Archivo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar Archivo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Analista De Sistemas">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Analista De Sistemas
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>UGH</h4>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Dirección Nacional De Gestión Humana">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Dirección Nacional De Gestion Humana
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Gestión Humana">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Gestión Humana
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Nacional SST">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Nacional SST
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar De Nomina">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar De Nomina
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>UDA</h4>
                                                <div class="col-xl-5 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Dirección Nacional De Diseño & Arquitectura">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Dirección Nacional De Diseño & Arquitectura
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Arquitecto Lider">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Arquitecto Lider
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Arquitecto Junior">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Arquitecto Junior
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Arquitecto Auxiliar">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Arquitecto Auxiliar
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="text" hidden id="NombresAreas" name="NombresAreas" required>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <button type="submit" class="btn btn-primary">Guardar Capacitación</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="table-responsive">        
                                        <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                            <tr class="table-warning">
                                                <th>Fecha Capacitación</th>
                                                <th>Nombre Capacitación</th>
                                                <th>Nombre Capacitador</th>
                                                <th>Link Evaluación</th>
                                                <th>Área o Áreas</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for Capacitacion in Capacitaciones %}
                                                <tr>
                                                    <td>{{Capacitacion.FechaCapacitacion}}</td>
                                                    <td>{{Capacitacion.NombreCapacitacion}}</td>
                                                    <td>{{Capacitacion.NombreCapacitador}}</td>
                                                    <td>{{Capacitacion.LinkEvaluacion}}</td>
                                                    <td>{{Capacitacion.NombresAreas}}</td>                                                 
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#EditarCapacitacionModal-{{forloop.counter}}" class="dropdown-item" data-bs-toggle="modal"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i>Editar</a></li>
                                                                <li><a href="#" class="dropdown-item"  id="{{Capacitacion.Id_CreacionCapacitacion}}" onclick="sweetDelete(this.id,this)"><i class="mdi mdi-trash-can font-size-16 text-danger me-1"></i>Eliminar</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <!-- EditarCapacitacionModal -->
                        {% for Capacitacion in Capacitaciones %}
                        <div class="modal fade" id="EditarCapacitacionModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="editcustomerModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <form class="modal-content" action="UpdateCapacitacion/{{Capacitacion.Id_CreacionCapacitacion}}" method="POST" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">Actualizar Capacitación De {{Capacitacion.NombreCapacitacion}}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Capacitación</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.NombreCapacitacion}}" name="NombreCapacitacion" id="NombreCapacitacion" class="form-control" placeholder="Nombre Capacitacion..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Capacitador</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.NombreCapacitador}}" id="NombreCapacitador" name="NombreCapacitador" class="form-control" placeholder="Introducir Nombre Capacitador..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Link Evaluación</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.LinkEvaluacion}}" id="LinkEvaluacion" name="LinkEvaluacion" class="form-control" placeholder="Introducir Link Evaluación..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-form-label col-lg-3">Fecha Capacitación</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.FechaCapacitacion}}" id="FechaCapacitacion" name="FechaCapacitacion" class="form-control" placeholder="Introducir Fecha Capacitación..." data-date-format="yyyy/mm/dd" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombres Áreas</label>
                                            <div class="col-lg-9">
                                                <textarea id="NombresAreas" name="NombresAreas" class="form-control" placeholder="Introducir Nombre Área..." rows="3" required>{{Capacitacion.NombresAreas}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end modal -->
{% endblock %}

{% block extra_javascript %}
    <!-- Sweet Alerts js -->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/pages/EliminarCapacitacion.js' %}"></script>

    <!-- bootstrap datepicker -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- dropzone plugin -->
    <script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.js' %}"></script>    

{% endblock %}