{% load static %}


{% block extra_css %}
    <!-- Sweet Alert-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- dropzone css -->
    <link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function()
        {
            $('.checkvalues').click(function()
            {
                var txt=""
                $('.checkvalues:checked').each(function()
                {
                    txt+=$(this).val()+", ";
                })
                    txt = txt.substring(0,txt.length-2);
                    $('#NombreArea').val(txt);
            });
        });
    </script>
{% endblock %}
{% block contents %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Crear Capacitación Interna de la Empresa</h4>
                                        <form method="post" id="formulario" autocomplete="off">
                                            {% csrf_token %}
                                            <div class="form-group row mb-4">
                                                <label class="col-md-2 col-form-label">Nombre Capacitación</label>
                                                <div class="col-md-10">
                                                    <select class="form-control select2" name="NombresCapacitaciones" id="NombresCapacitaciones" title="Capacitacion" required>
                                                        <option value="">Seleccionar Capacitación...</option>
                                                        {% for Capacitacion in Capacitaciones %}
                                                        <option value="{{Capacitacion.Id_CreacionCapacitacion}}">{{Capacitacion.NombreCapacitacion}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <h4 class="font-size-15 mb-3">Escoger Unidad</h4>
                                                <b class="font-size-14"><i class="mdi mdi-arrow-right text-primary me-1"></i>INMOBILIARIO</b>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Gerente UEN Inmobiliario">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Gerente UEN Inmobiliario
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider De Negocios">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider De Negocios
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Lider Administrativo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Lider Administrativo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Analista Administrativo">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Analista Administrativo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="font-size-14"><i class="me-3"></i>Auxiliares</h4>
                                                <div class="col-xl-3 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar De Mantenimiento">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar De Mantenimiento
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Auxiliar De Servicios Generales">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Auxiliar De Servicios Generales
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-6">
                                                    <div class="mt-2">
                                                        <div class="form-check form-checkbox-outline form-check-primary mb-3">
                                                            <input class="checkvalues" type="checkbox" value="Administrador De Edificios Externos">
                                                            <label class="form-check-label" for="formCheck1">
                                                                Administrador De Edificios Externos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="text" hidden id="Nota" name="Nota" value="-"> 
                                                <input type="text" hidden id="empleadonombre" name="empleadonombre" value="{{user.first_name}} {{user.last_name}}"> 
                                                <input type="text" hidden id="NombreArea" name="NombreArea" required>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <button type="submit" class="btn btn-primary">Guardar Capacitación</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">        
                                        <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                                <tr class="table-warning">
                                                    <th>Fecha Capacitación</th>
                                                    <th>Nombre Capacitación</th>
                                                    <th>Nombre Capacitador</th>
                                                    <th>Link Evaluación</th>
                                                    <th>Área</th>
                                                    <th>Nota</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for Capacitacion in EmpleadoCapacitacionesInternas %}
                                                <tr>
                                                    <td>{{Capacitacion.NombresCapacitaciones.FechaCapacitacion}}</td>
                                                    <td>{{Capacitacion.NombresCapacitaciones.NombreCapacitacion}}</td>
                                                    <td>{{Capacitacion.NombresCapacitaciones.NombreCapacitador}}</td>
                                                    <td>{{Capacitacion.NombresCapacitaciones.LinkEvaluacion}}</td>
                                                    <td>{{Capacitacion.NombreArea}}</td>
                                                    <td>{{Capacitacion.Nota}}</td>                                               
                                                    <td>
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-end">
                                                                <li><a href="#EditarEmpleadoCapacitacionInternoModal-{{forloop.counter}}" class="dropdown-item" data-bs-toggle="modal"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i>Editar</a></li>
                                                                <li><a href="#" class="dropdown-item"  id="{{Capacitacion.Id_Empleadocapacitacioninterna}}" onclick="sweetDelete(this.id,this)"><i class="mdi mdi-trash-can font-size-16 text-danger me-1"></i>Eliminar</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <!-- EditarCapacitacionModal -->
                        {% for Capacitacion in EmpleadoCapacitacionesInternas %}
                        <div class="modal fade" id="EditarEmpleadoCapacitacionInternoModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="editcustomerModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <form class="modal-content" action="UpdateInmobiliariaInterno/{{Capacitacion.Id_Empleadocapacitacioninterna}}" method="POST" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">Actualizar Capacitación De {{Capacitacion.NombresCapacitaciones.NombreCapacitacion}}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Capacitación</label>
                                            <div class="col-lg-9">
                                                <input type="text" readonly value="{{Capacitacion.NombresCapacitaciones.NombreCapacitacion}}" name="" id="NombreCapacitacion" class="form-control" placeholder="Nombre Capacitacion..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Empleado</label>
                                            <div class="col-lg-9">
                                                <input type="text" readonly value="{{Capacitacion.empleadonombre}}" name="empleadonombre" id="empleadonombre" class="form-control" placeholder="Nombre Empleado..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Capacitador</label>
                                            <div class="col-lg-9">
                                                <input readonly type="text" value="{{Capacitacion.NombresCapacitaciones.NombreCapacitador}}" id="NombreCapacitador" name="" class="form-control" placeholder="Introducir Nombre Capacitador..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-form-label col-lg-3">Fecha Capacitación</label>
                                            <div class="col-lg-9">
                                                <input readonly type="text" value="{{Capacitacion.NombresCapacitaciones.FechaCapacitacion}}" id="NombresCapacitaciones" name="" class="form-control" placeholder="Introducir Fecha Capacitación..." required>
                                                <input hidden type="text" value="{{Capacitacion.NombresCapacitaciones.Id_CreacionCapacitacion}}" id="NombresCapacitaciones" name="NombresCapacitaciones" class="form-control" placeholder="Introducir Nombre Capacitación..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Link Evaluación</label>
                                            <div class="col-lg-9">
                                                <input readonly type="text" value="{{Capacitacion.NombresCapacitaciones.LinkEvaluacion}}" id="LinkEvaluacion" name="" class="form-control" placeholder="Introducir Link Evaluación..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nombre Área</label>
                                            <div class="col-lg-9">
                                                <input readonly value="{{Capacitacion.NombreArea}}" id="NombreArea" name="NombreArea" class="form-control" placeholder="Introducir Nombre Área..." required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="projectname" class="col-form-label col-lg-3">Nota</label>
                                            <div class="col-lg-9">
                                                <input type="text" value="{{Capacitacion.Nota}}" id="Nota" name="Nota" class="form-control input-mask" placeholder="Introducir Nota..." data-inputmask="'mask': '9.9'" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end modal -->
{% endblock %}

{% block extra_javascript %}
    <!-- form mask -->
    <script src="{% static 'libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

    <!-- form mask init -->
    <script src="{% static 'js/pages/form-mask.init.js' %}"></script>
    
    <!-- Sweet Alerts js -->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/pages/EliminarEmpleadoCapacitacionInterno.js' %}"></script>

    <!-- bootstrap datepicker -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- dropzone plugin -->
    <script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.js' %}"></script>    

{% endblock %}