{% load static %}

    <link href="{% static 'css/indicador.css' %}" rel="stylesheet" type="text/css" />

        <div class="row">
            <div style="width: 100%;">
                <div style="display: flex; flex-direction: column; align-items: center; height: 400px; width: 100%;">
                    {% comment "" %} RESPONDER NUEVA evaluacion {% endcomment %}
                    {% if forms_objetivo %}
                    <div style="display: flex; flex-direction: row; height: 300px; width: 80%; border-radius: 12px; margin-top: 50px;">
                        <button style="border: none; width: 25%; background: red; border-radius: 12px 0 0 12px;" data-container="body" data-toggle="popover" 
                        data-placement="top" data-content="No cumplio objetivos.">0 - 40</button>
                        
                        <button style="border: none; width: 25%; background: yellow;" data-container="body" data-toggle="popover" 
                        data-placement="top" data-content="Cumplió algunos objetivos.">41 - 60</button>

                        <button style="border: none; width: 25%; background: greenyellow" data-container="body" data-toggle="popover" 
                        data-placement="top" data-content="Cumplió la mayoria de objetivos.">61 - 80</button>

                        <button style="border: none; width: 25%; background: rgb(0, 128, 0); border-radius: 0 12px 12px 0;" data-container="body" data-toggle="popover" 
                        data-placement="top" data-content="Cumplió todos objetivos y los sobrepaso.">81 - 100</button>
                    </div>
                    <br>
                    OBJETIVOS
                    <form method="post">
                        {% csrf_token %}
                        {% comment "" %} campo oculto para obtener el id de evaluacion al guardar con post {% endcomment %}
                        <input type="hidden" name="evaluacion_id" value="{{ evaluacion.id }}">
                        <div style="align-items: center;">
                            {% for objetivo, form in forms_objetivo %}
                            <div style="display: flex;  height: 200px; width: 100%; align-items: center;
                                justify-content: space-between;padding-left:0%;padding-right: 0%;">
                                <div style="display:flex; flex-direction: column;">
                                    <h4 style="border: none; border-radius: 0 12px 12px 0;"> 
                                        {{ objetivo }}
                                    </h4> 
                                    <div class="text-center">
                                        <label><h5>{{ objetivo.descripcion}}</h5></label>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row;">
                                {% for field in form %}
                                    <div style="display: flex; flex-direction:column; margin-top: 35px; margin-left: 10px;">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div style="display: flex; width: 100%; align-items: center; justify-content: center;"> 
                            <input type="submit" value="Guardar" style="border-radius: 12px 
                            ; background-color: rgb(147, 137, 235); border:none" name="objetivo">
                        </div>
                        <br>
                    </form>
                {% else %}
                    <div style="display: flex; flex-direction: row; height: 300px; width: 80%; border-radius: 12px; margin-top: 50px;">
                        <button style="border: none; width: 25%; background: red; border-radius: 12px 0 0 12px;" data-container="body" data-toggle="popover" 
                        data-placement="top" data-content="Nunca muestra la competencia.">0 - 40</button>
                        
                        <button style="border: none; width: 25%; background: yellow;" data-container="body" data-toggle="popover" 
                        data-placement="top" data-content="Algunas veces muestra la competencia.">41 - 60</button>

                        <button style="border: none; width: 25%; background: greenyellow" data-container="body" data-toggle="popover" 
                        data-placement="top" data-content="Frecuentemente muestra la competencia.">61 - 80</button>

                        <button style="border: none; width: 25%; background: rgb(0, 128, 0); border-radius: 0 12px 12px 0;" data-container="body" data-toggle="popover" 
                        data-placement="top" data-content="Siempre muestra la competencia.">81 - 100</button>
                    </div>
                    <br>
                    COMPETENCIAS
                    <form method="post">
                        {% csrf_token %}
                        {% comment "" %} campo oculto para obtener el id de evaluacion al guardar con post {% endcomment %}
                        <input type="hidden" name="evaluacion_id" value="{{ evaluacion.id }}">
                        <div style="align-items: center;">
                            {% for pregunta, form_competencia in forms_competencia %}
                            <div style="display: flex;  height: 200px; width: 100%; align-items: center; 
                            justify-content: space-between;padding-left:0%;padding-right: 0%;">
                                <div style="display:flex; flex-direction: column;">
                                    <h4 style="border: none; border-radius: 0 12px 12px 0;">
                                        {{ pregunta.competencia }}
                                    </h4>
                                    <div class="text-center">  
                                        <label><h5>{{ pregunta }}</h5></label>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row;">
                                {% for field in form_competencia %}
                                    <div style="display: flex; flex-direction:column; margin-top: 35px; margin-left: 10px;">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div style="display: flex; width: 100%; align-items: center; justify-content: center;"> 
                            <input type="submit" value="Guardar" style="border-radius: 12px 
                            ; background-color: rgb(147, 137, 235); border:none" name="competencia">
                        </div>
                        <br>
                    </form>
                    {% endif %}
                </div> 
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>