{% extends 'empleado/partials/base.html' %}
{% load static %}
{% block contents %}
{% include 'empleado/partials/content.html' %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/toastr/build/toastr.min.css' %}">
{% endblock extra_css %}
    
{% block extra_content %}
                    <!-- subscribeModal -->
                    <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-bottom-0">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center mb-4">
                                        <div class="avatar-md mx-auto mb-4">
                                            <div class="avatar-title bg-light rounded-circle text-primary h1">
                                                <i class="mdi mdi-email-open"></i>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-xl-10">
                                                <h4 class="text-primary">Inicia Sesion !</h4>
                                                <p class="text-muted font-size-14 mb-4">
                                                    Bienvenido a nuestra web Inacar.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal -->
{% endblock extra_content %} 
{% endblock %}


{% block extra_javascript %}
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <!-- toastr plugin -->
    <script src="{% static 'libs/toastr/build/toastr.min.js' %}"></script>

    <!-- dashboard init -->
    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock %}