{% load static %}
{% block header%}
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box" style="background: black;">
                        <a href="{% url 'creacion-capacitaciones' %}" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'images/logo.svg' %}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/construye-vida.png' %}" alt="" height="60">
                            </span>
                        </a>

                        <a href="{% url 'creacion-capacitaciones' %}" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'images/logo-light.svg' %}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/construye-vida.png' %}" alt="" height="60">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="header-lang-img" src="{% static 'images/flags/colombia.jpg' %}" alt="Header Language" height="18">
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="en">
                                <img src="{% static 'images/flags/us.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">English</span>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sp">
                                <img src="{% static 'images/flags/spain.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="gr">
                                <img src="{% static 'images/flags/germany.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">German</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="it">
                                <img src="{% static 'images/flags/italy.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Italian</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru">
                                <img src="{% static 'images/flags/russia.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                            <i class="bx bx-fullscreen"></i>
                        </button>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- <img class="rounded-circle header-profile-user" src="{% static 'images/users/avatar-1.jpg' %}"
                                alt="Header Avatar"> -->
                            <span class="d-none d-xl-inline-block ms-1">{{user.first_name}} {{user.last_name}}</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="{% url 'authlockscreen' %}"><i class="bx bx-lock-open font-size-16 align-middle me-1"></i> <span key="t-lock-screen">Bloquear Sesión</span></a>
                            <div class="dropdown-divider"></div>
                            {% if user.is_authenticated %}

                                {% if user.has_usable_password %}
                                <a class="dropdown-item" href="{% url 'account_change_password' %}"><i class="bx bx-key font-size-16 align-middle me-1"></i> Cambiar Contraseña</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'account_set_password' %}"><i class="bx bx-key font-size-16 align-middle me-1"></i> Establecer Contraseña</a>
                                {% endif %}
                                <a class="dropdown-item text-danger" href="{% url 'account_logout' %}?next={% url 'pages-logout' %}"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>Cerrar Sesión</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'account_login' %}"><i class="bx bx-log-in font-size-16 align-middle me-1 "></i> Iniciar Sesión</a>
                            {% endif %}
                        </div>
                    </div>

                    <div clacalendar-full.htmls="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                            <i class="bx bx-cog bx-spin"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
        </header>
{% endblock %}