{% load static %} {% block sidebar %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu" style="background: black;">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">     
            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-layout"></i>
                <span>Capacitaciones</span>
              </a>
              <ul class="sub-menu" aria-expanded="true">
                <li>
                    <a href="{% url 'directorcapacitacioninterno'%}">Interno</a>
                </li>
                <li>
                    <a href="{% url 'directorcapacitacionexterno'%}">Externo</a>
                </li>
              </ul>
            </li>   
            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-layout"></i>
                <span>Indicadores</span>
              </a>
              <ul class="sub-menu" aria-expanded="true">
                <li>
                  <a href="{% url 'director_evaluaciones'%}">Equipo De Trabajo</a>
                </li>
                <li>
                  <a href="{% url 'evaluaciones_director'%}">Personal</a>
                </li>
              </ul>
            </li>        
          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->
{% endblock %}
